{
  email admin@tatien.vn
}

tatien.vn, www.tatien.vn {
  reverse_proxy 127.0.0.1:18080
}

admin.tatien.vn {
  reverse_proxy 127.0.0.1:18081
}

pos.tatien.vn {
  reverse_proxy 127.0.0.1:18082
}

api.tatien.vn {
  reverse_proxy 127.0.0.1:14000
}
